element.style{
}
.d-flex{
    display: flex;
}
.flex-auto{
    flex: auto;
}
.flex-justify-center{
    justify-content: center;
}
*{
    box-sizing: border-box;
}
div{
    display: block;
    padding-top: 128px; !important;
}
style attribute{
    word-wrap: break-word;
}
body {
    font-family: -apple-system,BlinkMacSystemFont, """Segoe UI", Helvetica,Arial,sans-serif, "Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color:var(--color-fg-default);
    background-color:#0C162D;
}